.experience_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.experience_card {
    background: var(--color-bg-variant);
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience_card:hover {
    background: transparent;
    border-color: var(--color-primary);
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(77, 181, 255, 0.2);
    cursor: pointer;
}

.experience_card h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience_content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.experience_detail {
    display: flex;
    gap: 1rem;
    transition: var(--transition);
}

.experience_detail:hover {
    transform: translateX(10px);
}

.experience_icon {
    color: var(--color-primary);
    margin-top: 5px;
}

.experience_detail h4 {
    color: var(--color-white);
    margin-bottom: 0.3rem;
}

.experience_detail small {
    color: var(--color-light);
}

@media screen and (max-width: 1024px) {
    .experience_container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .experience_card {
        padding: 1.5rem;
    }

    .experience_content {
        gap: 1rem;
    }
}