footer {
  background: var(--color-primary);
  padding: 3rem 1rem 8rem;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 5rem;
}

footer a {
  color: var(--color-bg);
}

.footer_logo {
  display: inline-block;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
}

.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.footer_social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.footer_social a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  transition: var(--transition);
}

.footer_social a:hover {
  background: transparent;
  color: var(--color-bg);
  border: 1px solid var(--color-bg);
}

.footer_copyright {
  color: var(--color-bg);
}

/* MOBILE */
@media screen and (max-width: 600px) {
  footer {
    padding: 2rem 1rem 7rem;
  }

  .links {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 1rem 1.5rem;
  }

  .footer_logo {
    font-size: 1.7rem;
  }
}